<!DOCTYPE html>
<html>
<head>
	<title>my contact page</title>
	<link href='/css/style.css' rel='stylesheet' type='text/css'>
</head>
<body >
<% include partial/navigation.ejs %>
<div style="font-size:72px;padding-top:100px">
	<b>WELCOME TO THE CONTACT-SUCCEED PAGE</b>

</div>
<br>
<br><br>
<div style="font-size:48px">Thank u for ur patience</div>
<div style="font-size:48px">name <%=body.name%></div>
<div style="font-size:48px">contact <%=body.contact%></div>
<div style="font-size:48px">dept <%=body.dept%></div>


</body>
</html>